<tbody>
    <% @players.each do |player| %>
      <tr>
        <!-- <td><%= player['name'] %></td> -->
        <td><%= player['id'] %></td>
        <td>current user:<%= current_user %></td>
      </tr>
    <% end %>
  </tbody>